---

import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.astro";
import "../style/global.css";
import "../style/alians.css";
import "../style/base.css";

---

<Layout title="Grupper">
	<main>
       <h1>Grupper</h1>
       <h2>Pizzabagare för en kväll?</h2>
       <section>
        
        <img class="bild" src="grupper.webp" alt="pizza">
        <article>
           <div class="info">
            <p>
                Träd in i vårt kokande kök och upptäck processen bakom knådningen av färsk deg till perfektion, appliceringen av vår smakrika tomatsås och utforskningen av vårt breda sortiment av delikata toppings. Varje pizza är en unik skapelse, framtagen med omsorg och kärlek, och vi delar gladeligen med oss av våra bästa tips och tricks för att lyckas med din egen hemlagade pizza.
            </p>
            <p>
                Varför inte ta med dina kollegor eller vännerna på en pizzakväll utöver det vanliga och skapa oförglömliga minnen tillsammans? Oavsett om det är en avslappnad fredagskväll eller en speciell tillställning, så är vi här för att säkerställa att din upplevelse blir minnesvärd och smakrik. 
            </p>
            <p>Välkommen till vår pizzakväll – där varje tugga är en smak av passion och glädje!</p>
        </div>
        <div class="info">
            <p>
            Vi tar med allt som behövs för att baka pizza: <br>
                Deg<br>
                Mjöl till utbakning<br>
                Fyllningar<br>
                Toppings och dekorationer samt såser.
                </p>
                <p>Pizzabagare på plats för handledning under 3 timmar
                Upp till 10 personer. </p>
                
                <p>Pris: 5900kr </p>
                <p>Plats: Liljans bystuga<br>
                Datum & Tid: Det väljer ni själva</p>
        </div>
       <div>
        <div class="knapp">
        <Button link="/pages/om_oss.astro" variant="primary" size="big">Kontakta oss</Button>
    </div>
</div>
        </article>
        
       </section>
    </main>
	
</Layout>

<style>

section {
        padding-bottom: 65px;
    }
img {
    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding-bottom: 30px;
}

article {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    
    
    
    
}

p {
    max-width: 65ch;
    
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (min-width: 900px) {
article {
    align-items:flex-start;
}
img {
    max-width: 450px;
    padding-bottom: 0;
    justify-content: baseline;
   
}
section {
display: grid;
grid-template-columns:1fr 1fr;
gap: 100px;
}
.bild {
    order:1;
}
.knapp {
    display: flex;
}
}

</style>


