---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Button from '../components/Button.astro';
const { title } = Astro.props;
import "../style/global.css";
import "../style/alians.css";
import "../style/base.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />

    <!-- Visningsområdet og skaleringsniveauet for mobilvisning -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tellerup er et af de førende danske forlag med fokus på børne- og ungdomsbøger. " />
    <meta name="keywords" content="Tellerup, bøger, bogforlag" /><meta name="author" content="Tellerup" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300,0,400;0,600;1,400&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <title>Forside</title></head>

  <!-- <meta name="robots" content="noindex, nofollow" /> -->

  <body>
    <Header/>
	<header>
		<article class="hero_text">
        <div class="hero-text">
            <h1>Pizzeria Tondo</h1>
            <h2>Italiensk deg - svensk stil</h2>
        </div>
        <div class="knapp">
            <Button link="https://cloud.caspeco.se/public/webBooking?system=se_tonfal&unitId=13" variant="primary" size="big">Beställ</Button>
        </div>
	</article>
        <img src="public/hero.webp" alt="heropizza">
    </header>
    <main class="">
      
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    max-width: 1200px;
    margin: auto;
    padding-inline: 10px;
    
  }

  main {
        position: relative;
        padding-inline: none;
    }

    header {
        position: relative;
    }

    .hero_text {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 6%;
        text-align: center;
        color: white;
		gap: 40px;
    }

   

    h1 {
        padding-block: 0;
        font-size: 60px; /* Glömde enheten px här */
    }

    h2 {
        font-style: italic;
        font-weight: 400;
        font-size: 24px; /* Glömde storleken här */
    }

    img {
        width: 100%;
        height: auto; /* Låt höjden skalas proportionellt */
    }

    main {
        
    }

    @media (max-width: 600px) {
        .hero-text {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); /* Centrera texten vertikalt och horisontellt */
        }
    }
</style>
</style>