:root {
  /* farver */
  --primary: #91a683;
  --dark_green: #4e5947;
  --middle_green: #728267;
  --light_green: #dcfcca;
  --white: #ffffff;
  --black: #000000;

  /* font-size */
  --font-size-h1: 40px;
  --font-size-h2: 30px;
  --font-size-h3: 20px;
  --font-size-h4: 15px;
  --font-size-index: 12px;
  --font-size-button: 20px;
}

@media only screen and (min-width: 600px) {
  :root {
    --font-size-h1: 40px;
    --font-size-h2: 30px;
    --font-size-h3: 20px;
    --font-size-button: 27px;
  }
}
