---
import "../style/global.css";
import "../style/alians.css";
import "../style/base.css";
import Button from "../components/Button.astro";
---

<header>
    <section class="top_header">
        <p><b><a href="https://cloud.caspeco.se/public/webBooking?system=se_tonfal&unitId=13">Beställ online</a></b> eller på <b>023 - 3311</b>| Öppettider: Tisdag - Torsdag: 17 - 20, Fredag - Söndag 16 - 20</p> 
     </section> 
    <header >
        <section class="banner">
        <div class="logo">
            <a href="/index.html"><img src="/logo.svg" alt="logo"></a>
        </div>
  
        <nav class="main-menu">
          <button class="toggle-btn">Menu</button>
          <ul>
            <li><a href="/grupper.html">Grupper</a></li>
            <li><a href="/om_oss.html">Om oss</a></li>
            <div class="knapp">
            <Button link="/menu.html" variant="secondary" size="big">Menu</Button>
        </div>
        <div class="knapp">
            <Button link="https://cloud.caspeco.se/public/webBooking?system=se_tonfal&unitId=13" variant="primary" size="big">Beställ</Button>
        </div>
          </ul>
        </nav>
    </section>
      </header>
   
<style>
img {
    width: 55px;
    padding-bottom: 5px;
}
header {
    background: var(--middle_green);
}
    .top_header {
        background-color: var(--light_green);
padding-block: 8px;
text-align: center;
max-width: none;
    }
    .top_header p {
text-align: center;
    }

    /* header */
.banner {
  padding-block: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  
  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
}

.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  

  /* 2. Få elementerne til at stå ved siden af hinanden */
}

ul a {
    font-size: 16px;
    
}
a {
    font-family: "Poppins", sans-serif;
    
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
img {
    padding-bottom: 10px;
}
.banner {
    padding-inline: 10px;
    padding-bottom: 30px;
    
}
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }
.knapp {
    order: -1;
}
  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    
    flex-direction: column;
    gap:40px;
  }
}

    @media only screen and (max-width: 700px) {
      .top_header {
        visibility:hidden;
    }
        
    }
</style>

<script>

// Lav variablen "btn", der henviser til ".toggle-btn"
const btn = document.querySelector(".toggle-btn");
// Lav variablen "menu", der henviser til ".main-menu"
const menu = document.querySelector(".main-menu");

// Lav funktionen "toggleMenu()" med følgende funktionalitet
function toggleMenu() {
  menu.classList.toggle("shown");
  // a) toggle klassen "shown" på menu vha. classList.toggle
  const menuShown = menu.classList.contains("shown");
  // b) lav variablen "menuShown", som siger, at menu-variablen indeholder klassen "shown" via classList.contains("")

  // c) spørg om "menuShown" i if-sætningen nedenfor (=> if (menuShown)), og udskift teksten
  if (menuShown) {
    console.log(menuShown); // se i konsollen
    // sæt btn.textContent til "Luk", hvis menuShown er "true"
    btn.textContent = "X";
  } else {
    console.log(menuShown); // se i konsollen
    // sæt btn.textContent til "Menu", hvis menuShown er "false"
    btn.textContent = "Menu";
  }
  // "toggleMenu()" slutter her

  // Tilføj et klik-event til "btn", der sætter toggleMenu-funktionen i gang
}
btn.addEventListener("click", toggleMenu);
    
</script>